<style>
    p{
        text-align: center;
        font-size: 40px;
        font-family: "Times New Roman", Times, serif;
        margin-top: 100px;
        background-color: blanchedalmond;
        border-color: navy;
    }

    h1 {
        text-align: center;
        font-size: 25px;
        margin-top: 50px;
    }


</style>
<p>Component 2</p>

<h1> Give me something sytax in this framework!</h1>
<form action="/action_page.php">
    <label for="space">Space Box: </label>
    <input type="text" id="space" name="space"><br><br>
   
    <input type="submit" value="Submit">
  </form>